<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=EDGE,chrome=1" />
		<title>Test report - overview and content</title>
		<link rel="stylesheet" type="text/css" href="report.css" />
	</head>
	<body>
		<div>
			<h1>Test report</h1>
		</div>
		<div>
			<table>
				<caption>Overview</caption>
				<tbody>
					<tr>
						<th>Tests</th>
						<th>Failures</th>
						<th>Disables</th>
						<th>Errors</th>
						<th>Time</th>
					</tr>
					<tr>
						<td class="tests"><#= TestNum #></td>
						<td class="failures"><#= FailureNum #></td>
						<td class="disables"><#= DisableNum #></td>
						<td class="errors"><#= ErrorNum #></td>
						<td class="time"><#= TimeNum #></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<table>
				<caption>Content</caption>
				<tbody>
					<tr>
						<th>テスト名</th>
						<th>Tests</th>
						<th>Failure</th>
						<th>Disables</th>
						<th>Errors</th>
						<th>Time</th>
						<th>Timestamp
					</tr>
					<# foreach (var testSuiteItem in TestSuitesList) { #>
					<tr>
						<td class="name"><a href="<#= testSuiteItem.HtmlFileName #>"><#= testSuiteItem.TestName #></td>
						<td class="tests"><#= testSuiteItem.Tests  #></td>
						<td class="failures"><#= testSuiteItem.Failures #></td>
						<td class="disables"><#= testSuiteItem.Disabled #></td>
						<td class="errors"><#= testSuiteItem.Errors #></td>
						<td class="time"><#= testSuiteItem.Time #></td>
						<td class="timestamp"><#= testSuiteItem.TimeStamp #></td>
					</tr>
					<# } #>
				</tbody>
			</table>
		</div>
	</body>
</html>
