<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=EDGE,chrome=1" />
		<title>テストレポート - 一覧</title>
		<link rel="stylesheet" type="text/css" href="report.css" />
	</head>
	<body>
		<div>
			<h1>テスト結果 - 一覧</h1>
		</div>
		<div>
			<table>
				<caption>合計</caption>
				<tbody>
					<tr>
						<th>Tests</th>
						<th>Failures</th>
						<th>Disables</th>
						<th>Errors</th>
						<th>Time</th>
					</tr>
					<tr>
						<td><#= TestNum #></td>
						<td><#= FailureNum #></td>
						<td><#= DisableNum #></td>
						<td><#= ErrorNum #></td>
						<td><#= TimeNum #></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<table>
				<tbody>
					<tr>
						<th>テスト名</th>
						<th>実行数</th>
						<th>OK</th>
						<th>NG</th>
					</tr>
					<# foreach (var testSuiteItem in TestSuitesList) { #>
					<tr>
						<td><a href="<#= testSuiteItem.HtmlFileName #>"><#= testSuiteItem.TestName #></td>
						<td><#= testSuiteItem.Tests  #></td>
						<td><#= testSuiteItem.Tests - testSuiteItem.Failures #></td>
						<td><#= testSuiteItem.Failures #></td>
					</tr>
					<# } #>
				</tbody>
			</table>
		</div>
	</body>
</html>
