<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=EDGE,chrome=1" />
		<title>Test report<#= TestSuites.Name #></title>
		<link rel="stylesheet" type="text/css" href="report.css" />
	</head>
	<body>
		<div>
			<h1>Test report - detail</h1>
		</div>
		<div>
			<a href="index.html">TOP</a>
		</div>
		<div>
		<# foreach (var testSuite in TestSuites.TestItems) { #>
			<table>
				<caption><#= testSuite.Name #></caption>
				<tbody>
					<tr>
						<th>test name</th>
						<th>State</th>
						<th>Result</th>
						<th>Judge</th>
						<th>Timestamp</th>
						<th>Time</th>
					</tr>
					<# foreach (var testCase in testSuite.TestCases) { #>
					<tr>
						<td class="name"><#= testCase.Name #></td>
						<td class="status"><#= testCase.Status #></td>
						<td class="result"><#= testCase.Result #></td>
						<# if (0 == string.Compare(testCase.Judge, "NG")) { #>
						<td class="not_passed"><a href="<#= testSuite.Name #>_<#= testCase.Name #>.html"><#= testCase.Judge #></a></td>
						<# } else { #>
						<td class="passed"><#= testCase.Judge #></td>
						<# } #>
						<td class="time"><#= testCase.Timestamp #></td>
						<td class="timestamp"><#= testCase.Time #></td>
					</tr>
					<# } #>
				</tbody>
			</table>
		<# } #>
		</div>
	</body>
</html>

