<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=EDGE,chrome=1" />
		<title>Test report<#= _testSuites.Name #></title>
		<link rel="stylesheet" type="text/css" href="report.css" />
	</head>
	<body>
		<div id="page_top">
			<h2>Test report - detail</h2>
		</div>
		<div>
			<a href="./../index.html">TOP</a>
		</div>
		<div>
			<h2>Test suite summary</h2>
		</div>
		<div>
			<table>
				<tbody>
					<tr>
						<th>Name</th>
						<th>Tests</th>
						<th>Failures</th>
						<th>Disables</th>
						<th>Errors</th>
						<th>Time</th>
					</tr>

					<# foreach (var testSuite in _testSuites.TestSuitesItems) { #>

					<tr>
						<td class="name"><a href=#"<#= testSuite.Name #>"><#= testSuite.Name #></a></td>
						<td class="test"><#= testSuite.Tests#></td>
						<td class="failures"><#= testSuite.Failures #></td>
						<td class="disables"><#= testSuite.Disabled #></td>
						<td class="errors"><#= testSuite.Errors #></td>
						<td class="timestamp"><#= testSuite.Time #></td>
					</tr>

					<# } #>

				</tbody>
			</table>
		</div>
		<div>

			<# foreach (var testSuite in _testSuites.TestSuitesItems) { #>

			<div id="<#= testSuite.Name #>">
				<h2><#= testSuite.Name #>
			</div>
			<div>
				<table>
					<tr>
						<th>test name</th>
						<th>Status</th>
						<th>Result</th>
						<th>Judge</th>
						<th>Timestamp</th>
						<th>Time</th>
					</tr>

					<# foreach (var testCase in testSuite.TestCases) { #>
					
					<tr>
						<td class="name"><#= testCase.Name #></td>
						<td class="status"><#= testCase.Status #></td>
						<td class="result"><#= testCase.Result #></td>

						<# if (("OK").Equals(testCase.Result)) { #>

						<td class="passed"><#= testCase.Judge #></td>

						<# } else { #>

						<td class="not_passed"><a href="<#= testSuite.Name #>_<#= testCase.Name #>.html"><#= testCase.Judge #></a></td>

						<# } #>

						<td class="time"><#= testCase.Timestamp #></td>
						<td class="timestamp"><#= testCase.Time #></td>
					</tr>

					<# } #>

				</table>
			</div>

			<# } #>

		</div>
	</body>
</html>
